<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Research - Life Stages</title>
</head>
<body>

{% extends "header.html" %}
{% block content %}

<div class="flex-container">
    <div class="flex-item">
        <h2>The Basics</h2>
        <iframe id="the_basics" src="/static/vid/the_basics.mp4" width="100%" height="auto" controls></iframe>
    </div>
    <div class="flex-item">
        <h2>Twist Through Legs</h2>
        <iframe id="twist_through_legs" src="/static/vid/twist_through_legs.mp4" width="100%" height="auto" controls></iframe>
    </div>
</div>

{% endblock %}

</body>
</html>