<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon">
    <title>Dog Breed Information</title>
</head>
<body>
{% extends "header.html" %}
{% block content %}

<h1>Dog Breed Information</h1>
<div class="flex-container">
    <div class="flex-item">
        <form id="breedForm">
            <label for="breed">Choose a breed:</label>
            <select id="breed" name="breed" required>
                <option disabled selected value="">Select a breed</option>
                {% for breed in breeds %}
                <option value="{{ breed }}">{{ breed }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
</div>

<div class="flex-container" id="breedInfo">
</div>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>
<script>
    if (window.location.href === "http://127.0.0.1:5000/breeds") {
        window.location.replace("http://127.0.0.1:5000/breeds/None");
    } else if (window.location.href === "https://gekco.dev/breeds") {
        window.location.replace("https://gekco.dev/breeds/None");
    }
</script>
{% endblock %}
</body>
</html>
