<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Research</title>
</head>
<body>

{% extends "header.html" %}
{% block content %}

<div class="flex-container">
    <div class="flex-item">
        <h1>Life Stages</h1>
        <p>Een hond is een belangrijk deel van het gezin, en door in elke levensfase de juiste zorg en aandacht te bieden, zorg je voor een gelukkig en gezond leven samen.</p>
        <p>Honden doorgaan verschillende levensstadiums, hierin vinden zowel fysieke veranderingen plaats als gedragsveranderingen. Als hondeneigenaar is het belangrijk</p>
        <em><a href="{{ url_for('research_life_stages') }}">More...</a></em>
    </div>
    <div class="flex-item">
        <h1>...</h1>
        <p></p>
        <em><a href="">More...</a></em>
    </div>
</div>

{% endblock %}

</body>
</html>