<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Research</title>
</head>
<body>

{% extends "header.html" %}
{% block content %}

<div class="flex-container">
    <div class="flex-item">
        <h1>Life Stages</h1>
        <img src="/static/img/img-21.jpg" />
        <p>A dog is an important part of the family, and by providing proper care and attention at every stage of its life, you ensure a happy and healthy life together.</p>
        <p>Dogs go through different stages of life, during which both physical changes and behavioral changes occur. As a dog owner, it is important</p>
        <em><a href="{{ url_for('research_life_stages') }}">More...</a></em>
    </div>
    <div class="flex-item">
        <h1>Sports</h1>
        <img src="/static/img/img-08.jpeg" />
        <p>Adult dogs need regular exercise to stay fit, healthy, and mentally stimulated. The required amount of exercise varies depending on the breed and the dog's energy level. In addition to daily walks, dogs can participate in dog sports such as agility, flyball, or canicross. These activities not only help burn excess energy, but also promote</p>
        <em><a href="{{ url_for('research_sports') }}">More...</a></em>
    </div>
    <div class="flex-item">
        <h1>Farewell</h1>
        <img style="max-width:50%" src="/static/img/img-20.jpeg" />
        <p>Unfortunately, saying goodbye is part of life with a dog. At some point, a dog may experience life-limiting issues such as severe pain, difficulty rising, constant panting, incontinence, or loss of appetite. As an owner, you often notice when</p>
        <em><a href="">More...</a></em>
    </div>
</div>

{% endblock %}

</body>
</html>